---
title: Flatpak - the future of application distribution
description: About Flatpak
---

%section#about
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center About
        %hr.primary
        %p
          Flathub aims to be the place to get and distribute apps for Linux. It is powered by
          =succeed " which allows Flathub apps to run on almost any Linux distribution." do
            =link_to "Flatpak", "https://flatpak.org/"
        %p
          If you are a Linux user, you can use Flathub to gain access to a growing collection of Flatpak applications. App developers
          =succeed "to be distributed to Flathub's growing user base, thus providing a single gateway to the entire Linux desktop ecosystem." do
            =link_to "can submit their applications ", "https://github.com/flathub/flathub/wiki/App-Submission"
        %p
          At the moment, applications must either be legally redistributable or be available as a third party download. However, if you are a proprietary app developer and are interested in using Flathub, we would love to talk to you.
    .row.largegap
      .col-lg-10.col-lg-offset-1
        %h3 Get involved
        %p
          Flathub is an attempt to transform the Linux desktop ecosystem for the better, and we need your help. If you can write documentation, create websites, administer servers or write code, we would love your help.
        .col-lg-12.text-center
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown Mailing list
      .col-lg-4.col-xs-8
        =link_to "flatpak@lists.freedesktop.org", "http://lists.freedesktop.org/mailman/listinfo/flatpak"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown IRC
      .col-lg-4.col-xs-8
        =link_to "#flatpak on Freenode", "irc://freenode.net:6697/flatpak"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown GitHub project
      .col-lg-4.col-xs-8
        =link_to "github.com/flathub/", "https://github.com/flathub/"
    .row.largegap
      .col-lg-10.col-lg-offset-1
        %p
          Security and legal issues should be reported to
          = succeed "." do
            =link_to "flathub@lists.freedesktop.org", "mailto:flathub@lists.freedesktop.org"
    .row.largegap
      .col-lg-10.col-lg-offset-1
        %h3 Acknowledgements
        %p
          Flathub wouldn't be possible without the generous support of the following organizations and individuals.
      .col-lg-12.text-center
        .row
          Codethink
        .row
          Mythic Beasts
        .row
          Scaleway
        .row.largegap
          Alex Larsson
        .row
          Andreas Nilsson
        .row
          Arun Raghavan
        .row
          Bartłomiej Piotrowski
        .row
          Christian Hegert
        .row
          Christopher Halse Rogers
        .row
          Cosimo Cecchi
        .row
          Emmanuele Bassi
        .row
          G Stavracas Neto
        .row
          Jakub Steiner
        .row
          James Shubin
        .row
          Joaquim Rocha
        .row
          Jorge García Oncins
        .row
          Lubomír Sedlář
        .row
          Nathan Dyer
        .row
          Nick Richards
        .row
          Mario Sanchez Prada
        .row
          Matthias Clasen
        .row
          Michael Doherty
        .row
          Zach Oglesby
