---
title: Flathub
description: Build and distribution service for Flatpak applications.
---
%header
  .header-content
    .container
      .row.centered
        .col-sm-8.col-sm-offset-2
          %h1 Apps for Linux
      .row.centered
        .col-sm-8.col-sm-offset-2
          %p
            Flathub is a a growing collection of desktop apps which can be easily installed on any Linux distribution. Once setup, you can browse from your app center or install with the command line.
          %p
            %a.btn.btn-primary.btn-xl{:href => "https://flatpak.org/setup"} Quick Setup

%section
  .container
    .row.centered
      .col-sm-8.col-sm-offset-2
        %h2 Featured Apps
        %p
          Flathub contains over 200 apps; here are just some of them.
    .row
      .appgrid
        - data.apps.each do |i|
          .app
            - if i.icons["128"]
              .icon{:style => "background-image: url(#{i.icons['128']})"}
            - elsif i.icons["64"]
              .icon{:style => "background-image: url(#{i.icons['64']})"}            
            .title
              .name 
                = i.name
              .description
                = i.summary
            %a{:class => 'btn btn-primary installbutton', :href => i.flatpakref}
              install

