---
title: Flathub
description: Build and distribution service for Flatpak applications.
---
%header
  .header-content
    .container
      .row.centered
        .col-sm-8.col-sm-offset-2
          %h1 Apps for Linux
      .row.centered
        .col-sm-8.col-sm-offset-2
          %p
            Flathub is a a growing collection of apps which can be easily installed on any Linux distribution. browse from your app center or command line.
          %p
            %a.btn.btn-primary.btn-xl{:href => "#"} Quick Setup

%section
  .container
    .row.centered
      .col-sm-8.col-sm-offset-2
        %h2 Featured Apps
        %p
          Flathub contains 
          = data.appstream.apps.length
          apps (and counting!) Here are just some of them:
